name: Create Tag

on:
  push:
    branches: [ master, release ]

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create a new tag
        uses: jacopo1395/action-autotag@2.0.2
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Create a GitHub release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_version.outputs.tagname }}
          release_name: v${{ steps.tag_version.outputs.tagname }}
          body: ${{ steps.tag_version.outputs.tagmessage }}