name: Pipeline

on:
  push:
    branches: [ master, release, develop ]
  pull_request:
    branches: [ master, release, develop ]

env:
  flutter_version: "2.0.1"
  java_version: "12.x"
  ruby-version: "2.7.2"

jobs:

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java_version }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}
      - run: flutter pub get
      - run: flutter test

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java_version }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}
      - run: flutter pub get
      - run: flutter build appbundle -t lib/environments/integration.dart --debug

  tag:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Create a new tag
        id: tag_version
        uses: jacopo1395/action-autotag@2.0.3
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Create a GitHub release
        uses: actions/create-release@v1
        if: ${{ steps.tag_version.outputs.tagname }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_version.outputs.tagname }}
          release_name: v${{ steps.tag_version.outputs.tagname }}
          body: ${{ steps.tag_version.outputs.tagmessage }}

  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: tag
    if: !contains(github.ref, "develop")
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby-version }}
      - uses: maierj/fastlane-action@v2.0.1
        with:
          lane: 'deploy'
          subdirectory: 'android'


